.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 8px;

  @media only screen and (max-width: 768px) {
    padding-right: 0px;
  }
}

.courseButton {
  font-weight: normal;
  height: 40px;
  font-size: 15px;
  padding-right: 16px;
  max-width: 300px;
  margin-right: 0px;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

  @media only screen and (max-width: 768px) {
    padding-right: 8px;
    font-size: 13px;
  }
}

.container {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 40px;
  width: 100%;

  @media only screen and (max-width: 600px) {
    padding: 16px;
  }

  .containerRequests {
    min-height: 200px;
    margin-bottom: 20px;

    .openRequests {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
