.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  &::after {
    flex: 0 0 20px;
    visibility: hidden;
    content: 'spacer';
  }
}

.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  h1,
  h5 {
    line-height: 1.2;
  }

  @media only screen and (max-width: 1440px) {
    h1 {
      font-size: 32px;
    }
  }

  @media only screen and (max-width: 1024px) {
    h1 {
      font-size: 30px;
    }
  }

  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 28px;
    }
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 24px;
      text-align: left;
    }
  }
}

.topGrid {
  display: grid;
  grid-template-columns: 2fr 400px;
  width: 100%;

  @media only screen and (max-width: 1025px) {
    display: flex;
    flex-direction: column;
  }

  .statusContainer {
    background-image: url(/background_triangle_yellow.svg);
    background-size: 700px;
    // because background is somehow angled
    margin-top: -4px;
    background-repeat: no-repeat;
    padding: 32px;
    display: flex;
    flex-direction: column;

    .statusText {
      font-weight: bold;
      background-image: url(/background_status_text.svg);
      background-repeat: no-repeat;
      background-position: -10px -10px;
      background-size: 160px;
      padding-right: 20px;
      @media only screen and (max-width: 768px) {
        background-size: 130px;
      }
    }

    .actionContainer {
      @media only screen and (max-width: 600px) {
        margin: 1rem 0;
      }
    }
  }

  .newsContainer {
    background: #f4f6ff;
    width: 100%;
    padding: 40px 16px 16px 16px;
    border-radius: 0px 0px 0px 40px;

    @media only screen and (max-width: 1025px) {
      border-radius: 0px 0px 0px 0px;
      margin-top: 10px;
    }

    .newsContent {
      margin-bottom: 8px;

      .newsHeadline {
        display: flex;
        align-items: center;
      }
    }
  }
}

.bottomContainer {
  margin-top: 40px;
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(/background_full_red.svg);
  background-position-y: 10px;
  background-repeat: no-repeat;

  @media only screen and (max-width: 768px) {
    padding: 0px;
    h3 {
      margin-left: 32px;
    }
  }

  .bottomGrid {
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media only screen and (max-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
    @media only screen and (max-width: 992px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @media only screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;
      padding: 8px 0px;
    }
  }
}

.backButtonContainer {
  width: 100%;
  padding-right: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .backButton {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.participantList {
  margin-top: 2rem;
  background: white;
  padding: 4px;

  @media screen and (max-width: 576px) {
    .ant-list-item-action {
      margin-left: 0px;
    }
  }
}

.retryButton {
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  width: 160px;
}
