.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px;

  @media only screen and (max-width: 768px) {
    padding-right: 0px;
  }
}

.courseButton {
  font-weight: normal;
  height: 40px;
  font-size: 15px;
  padding-right: 16px;

  @media only screen and (max-width: 768px) {
    padding-right: 8px;
    font-size: 13px;
  }
}

.container {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 40px;
  width: 100%;

  @media only screen and (max-width: 600px) {
    padding: 16px;
  }

  .containerRequests {
    min-height: 200px;
    margin-bottom: 20px;

    .openRequests {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .overviewContainer {
    position: relative;
    margin-right: 40px;
  }
}
