.container {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 40px;
  width: 100%;

  @media only screen and (max-width: 600px) {
    padding: 16px;
  }

  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding-right: 32px;

    @media only screen and (max-width: 768px) {
      padding-right: 0px;
    }
  }
}
