.signinContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;

  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    width: 100px;
    margin: 16px;
    padding: 16px;
    background-color: #2b2c3b;
    border-radius: 50%;

    path {
      fill: white;
    }
  }

  .step {
    width: 100%;
    display: flex;
    max-width: 480px;
    align-items: flex-start;
    margin: 8px;

    .stepText {
      margin-left: 0px;
      font-weight: 300;
      max-width: 440px;
    }

    svg {
      margin-top: 5px;
      height: 36px;
    }
  }
}
.inputContainer {
  margin: 16px 0px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 8px;

  .inputField {
    width: 100%;
    max-width: 400px;
    height: 40px;
  }

  .errorInput {
    border-color: #f0466b !important;
  }
}

.description {
  color: #6c6c6c;
  margin: 0 8px !important ;
  font-weight: 300;

  a {
    color: #4e6ae6 !important;
  }
}

.helpText {
  text-align: center;
  max-width: 400px;
  color: #6c6c6c !important;
  margin: 4px 4px !important;
  a {
    color: #4e6ae6 !important;
  }
}

.loginTitle {
  color: #6c6c6c !important;
}

.textError {
  margin-top: -16px !important;
  color: #f0466b !important;
  text-align: center;
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  svg {
    margin: 32px;
    height: 120px;
    width: 120px;
  }
}

.successButton {
  height: 40px;
  border: 2px solid #2b2c3b;
}

.loginButtonContainer {
  display: flex;

  .signinButton {
    height: 42px;
    font-size: 16px;
    font-weight: 300;
    width: 160px;
    margin: 16px 8px 16px 16px;
  }

  .registerButton {
    height: 42px;
    font-size: 16px;
    font-weight: 300;
    width: 160px;
    margin: 16px 16px 16px 8px;
    border: 1px solid #4e6ae6;
  }
}
