.signinContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%;
  padding: 0 15px;
  max-width: 600px;
  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    width: 100px;
    margin: 16px;
    padding: 16px;
    background-color: #2b2c3b;
    border-radius: 50%;

    path {
      fill: white;
    }
  }

  .step {
    width: 100%;
    display: flex;
    max-width: 480px;
    align-items: flex-start;
    margin: 8px;

    .stepText {
      margin-left: 0px;
      font-weight: 300;
      max-width: 440px;
    }

    svg {
      margin-top: 5px;
      height: 36px;
    }
  }
}
.inputContainer {
  margin: 16px 0px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 8px;

  .inputField {
    width: 100%;
    max-width: 400px;
    height: 40px;
  }

  .errorInput {
    border-color: #f0466b !important;
  }
}

.description {
  color: #6c6c6c;
  margin: 0 8px !important ;
  font-weight: 300;

  a {
    color: #4e6ae6 !important;
  }
}

.helpText {
  margin-top: 40px;
  text-align: center;
  max-width: 400px;
  color: #6c6c6c !important;
  a {
    color: #4e6ae6 !important;
  }
}

.loginTitle {
  color: #0366e0 !important;
  font-size: 20px;
  font-weight: 700;
}

.textError {
  margin-top: -16px !important;
  color: #f0466b !important;
  text-align: center;
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.successButton {
  height: 40px;
  border: 2px solid #2b2c3b;
}

.loginButtonContainer {
  display: flex;
  margin-bottom: 40px;
  >button {
    margin-right: 20px;
  }
}

.formHeader {
  width: 100%;
  display: flex;
  justify-content: center;

  .formHeaderButton {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    >p {
      margin: 0;
      font-weight: bold;
      font-size: 16px;
    }
    transition: 0.1s background-color ease-in-out, 0.2s color ease-in-out, 0.2s border-color ease-in-out;
    &:hover {
      background-color: #ececec;
    }
    &.activePage {
      color: #0366e0;
      border-bottom: 3px solid #0366e0;
    }
    &:not(.activePage) {
      color: #4c4c4c;
      border-bottom: 3px solid #c4c4c4;
    }
  }
}

.form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: center;
}

.submitButton {
  margin-top: 20px;
}

.buttonBox {
  display: flex;
  justify-content: center;

}

.registerAs {
  display: flex;
  width: 100%;
  justify-content: center;
  > button {
    &:first-child {
      margin-right: 20px;
    }
  }
}

.formLabel {
  font-size: 16px;
  font-weight: 600;
}

.registerAsLabel {
  text-align: center;
  width: 100%;
}
.spacer {
  height: 20px;
}

.formError {
  font-weight: 500;
  color: #ef2020;
}

.backButtonBox {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.innerForm {
  overflow-y: auto;
}

.horizontalAlign {
  display: flex;
  >div {
    &:first-child {
      margin-right: 10px;
    }
  }
}

.tuteeNote {
  padding: 20px;
  background-color: #ffe294;
  border-radius: 5px;

}


.paperPlane {
  fill: #0366e0;
  width: 50px;
  height: 50px;
  margin: 40px 0;
}
