.container {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 40px;
  width: 100%;

  @media only screen and (max-width: 600px) {
    padding: 16px;
  }

  .containerRequests {
    min-height: 200px;
    margin-bottom: 20px;

    .openRequests {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .resultBox {
    max-width: 1000px;
  }
}
