.wipContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  margin-bottom: 8px !important;
}
.text {
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

.container {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 60px 40px 0px;
  width: 100%;

  @media only screen and (max-width: 600px) {
    padding: 16px;
  }

  .buttonParticipate {
    background-color: rgb(255, 204, 18);
    color: white;
    display: flex;
    float: right;
    &:hover {
      color: white;
    }
  }
}
