.wipContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  margin-bottom: 8px !important;
}
.text {
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

.container {
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 60px 40px 0px;
  width: 100%;

  @media only screen and (max-width: 600px) {
    padding: 16px;
  }

  .buttonParticipate {
    background-color: rgb(255, 204, 18);
    color: white;
    display: flex;
    float: right;
    &:hover {
      color: white;
    }
  }

  .containerRequests {
    min-height: 200px;
    margin-bottom: 20px;

    .openRequests {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.experts {
  margin: 64px 0px;

  .cardContainer {
    display: flex;
    flex-wrap: wrap;

    .expertContainer {
      display: flex;
      max-width: 398px;
      min-width: 398px;
      max-height: 198px;
      border-radius: 4px;
      margin: 8px;
      box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.04);

      .paddingContainer {
        padding: 16px;
      }

      .expertMatchBar {
        min-width: 8px;
        max-width: 8px;
        height: 100%;
        background: #4e6ae6;
      }
    }
  }
}
