.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0px;
  margin: 0px;;
  width: 100%;
  min-height: 100vh;
  
  .header {
    position: sticky;
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 3000;
    
    background-color: white;
    
    width: 100vw;
    height: 60px;
    padding: 30px;
    margin-top: 30px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: stretch;
  
    @media only screen and (max-width: 1340px) {
      box-shadow: 0 4px 9px -10px black;
    }
    
    .logo {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      margin-left: 16px;
      height: 36px;
  
      > svg {
        path {
          fill: #7183e0;
        }
      }
    }
    .filterButton {
      flex-grow: 0;
      text-align: right;
    }
  }

  .main {
    overflow: scroll;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    flex-grow: 1;

    .searchContainer {
      max-width: 1000px;
      margin: 10px 10px 10px 10px;
    }

    @media only screen and (max-width: 600px) {
      padding: 16px;
    }
  }


  .sideNav {
    overflow-y: scroll;

    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4000;

    display: flex;
    flex-direction: column;

    height: 100vh;
    padding-top: 100px;
    padding-left: 30px;
    padding-bottom: 90px;
    width: 100%;
    max-width: 400px;
    transition: max-width 0.2s;
    transition: width 0.2s;
    background: #ececec;

    .checkboxContainer {
      margin-top: 16px;
    }

    transform: translate(+100%);
    transition: transform 0.2s ease-in-out;

    @media only screen and (max-width: 1450px) {
      max-width: 300px;
      transition: max-width 0.2s;
      transition: width 0.2s;
    }

    @media only screen and (max-width: 1340px) {
        transform: translate(+100%);
        transition: transform 0.2s ease-in-out;
        
        &.navOpen {
          transform: translate(0%);
          transition: transform 0.2s ease-in-out;
        }
    }
    @media only screen and (min-width: 1340px) {
        transform: translate(0%);
        transition: transform 0.2s ease-in-out;
    }

    .closeButton {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      @media only screen and (min-width: 1340px) {
        display: none;
      }
    }
  }

  .legal {
    display: flex;
    flex-direction: row;
    margin: 4px;
    text-align: center;
    width: 1060px;
    padding-left: 30px;
    padding-right: 30px;
    
    @media only screen and (max-width: 1060px) {
      flex-direction: column;
      width: 100%;
    }
  }
  .legal > a {
    margin: 10px;
  }
}