.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0px;
  margin: 0px;;
  width: 100%;
  min-height: 100vh;
  
  .header {
    position: sticky;
    top: 0;
    left: 0; 
    right: 0; 
    z-index: 3000;
    
    background-color: white;
    
    width: 100vw;
    height: 60px;
    padding: 30px;
    margin-top: 30px;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-items: stretch;
  
    box-shadow: 0 4px 9px -10px black;
    
    .logo {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      margin-left: 16px;
      height: 36px;
  
      > svg {
        path {
          fill: #7183e0;
        }
      }
    }
  }

  .main {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px;
    flex-grow: 1;
  }

  .legal {
    display: flex;
    flex-direction: row;
    margin: 4px;
    text-align: center;
    width: 1060px;
    padding-left: 30px;
    padding-right: 30px;
    
    @media only screen and (max-width: 1060px) {
      flex-direction: column;
      width: 100%;
    }
  }
  .legal > a {
    margin: 10px;
  }
}