.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;

  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    width: 100px;
    margin: 16px;
    padding: 16px;
    background-color: #2b2c3b;
    border-radius: 50%;

    path {
      fill: white;
    }
  }
}

.formContainer {
  min-height: fit-content;
  max-width: 520px;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.formContainerGroup {
  display: flex;
  margin: 0;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.formItem {
  flex-grow: 1;
  margin: 10px 16px;
  @media only screen and (max-width: 600px) {
    margin: 4px 10px;
  }
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.buttonContainer {
  display: flex;
  width: 100%;
  max-width: 600px;
  align-items: center;
  justify-content: center;

  .signupButton {
    height: 46px;
    font-size: 16px;
    font-weight: 300;
    width: 120px;
    margin: 16px;
  }
  .backButton {
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    width: 60px;
    margin: 4px;
  }
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin: 32px;
    height: 120px;
    width: 120px;
  }
}

.helpText {
  text-align: center;
  max-width: 400px;
  color: #6c6c6c !important;
  margin: 16px 4px !important;
  .link {
    color: #4e6ae6 !important;
  }
}

.disabledCheckbox {
  //change color if disabled
  :global(.ant-checkbox-disabled + span) {
    color: rgba(0, 0, 0, 0.7);
  }
  //change color of tick if disabled
  :global(.ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after) {
    border-color: #1890ff;
  }
}
