.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    height: 100px;
    width: 100px;
    margin: 16px;
    padding: 16px;
    background-color: #2b2c3b;
    border-radius: 50%;

    path {
      fill: white;
    }
  }
}

.helpText {
  text-align: center;
  max-width: 400px;
  color: #6c6c6c !important;
  margin: 16px 4px !important;
  a {
    color: #4e6ae6 !important;
  }
}

.userTypeContainer {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-wrap: nowrap;

  .userType {
    border: 1px solid #ababab;
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    width: 100%;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    .userTitle {
      font-weight: 300;
      color: #ababab;
      margin: 16px 0px 0px 0px !important;
      transition: color 0.2s ease-in-out;
    }

    svg {
      path {
        transition: fill 0.2s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: #404040;
        }
      }
      border-color: #404040;

      .userTitle {
        color: #404040;
      }
    }
  }
}
