.matchInfoContainer {
  flex-grow: 1;

  .emailText {
    margin-top: -12px !important;
  }
}

.tagContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.subjectContainer {
  flex-grow: 1;
  width: 300px;

  .emailText {
    margin-top: -16px !important;
  }
}
