.button {
  outline: none;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
