.button {
  outline: none;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s border-color ease-in-out;

  &.disabled {
    cursor: not-allowed;
  }
  >.icon {
    width: 20px;
    height: 20px;
  }
  &:not(.onlyIcon) {
    > .icon {
      margin-right: 5px;
    }
  }
  &.onlyIcon {
    > .icon {
      width: 30px;
      height: 30px;
    }
  }
  &:hover {
    &:not(.disabled) {
      border: 1px solid;
    }
  }
}

.buttonSmall {
  outline: none;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s border-color ease-in-out;

  &.disabled {
    cursor: not-allowed;
  }
  >.icon {
    width: 16px;
    height: 16px;
  }
  &:not(.onlyIcon) {
    > .icon {
      margin-right: 4px;
    }
  }
  &.onlyIcon {
    width: 36px;
    height: 36px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    > .icon {
      width: 20px;
      height: 20px;
    }
  }


  &:hover {
    &:not(.disabled) {
      border: 1px solid;
    }
  }
}

.hintWrapper {
  cursor: not-allowed;
  button {
    pointer-events: none;
  }
}
