.button {
  outline: none;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s border-color ease-in-out;

  &.disabled {
    cursor: not-allowed;
  }
  >.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  &:hover {
    &:not(.disabled) {
      border: 1px solid;
    }
  }
}

.buttonSmall {
  outline: none;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s border-color ease-in-out;

  &.disabled {
    cursor: not-allowed;
  }
  >.icon {
    width: 15px;
    height: 15px;
    margin-right: 4px;
  }
  &:hover {
    &:not(.disabled) {
      border: 1px solid;
    }
  }
}
