/* Customize the label (the container) */
.checkboxContainer {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  margin-right: 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  line-height: 25px;
  max-width: 500px;
  &.disabled {
    color: #6c6c6c;
    text-decoration:line-through;
    cursor: not-allowed;
  }
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxContainer:before {
  content: "";
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #B5B5B5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #d6d6d6;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: var(--accent-color);
  &.checkmark {
    border: 1px solid var(--accent-color);
  }
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  animation: slideDown .2s cubic-bezier(0.07, 0.35, 0.12, 0.97), fadeIn .3s ease-in both;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;

}

@keyframes slideDown {
  from {
    top: -2px;
  }
  to {
    top: 2px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkboxContainer input:focus + .checkmark {
  border-color: #0094FF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}
