.container {
  display: flex;
  height: 72px;
  width: 300px;

  @media only screen and (max-width: 600px){
    width: 200px;
  }

  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }

  svg {
    height: 100%;
  }

  .text {
    padding: 10px 0px 10px 10px;
    margin: 0px;
    -webkit-column-width: 247px;
    width: 247px;
    overflow: hidden;

    @media only screen and (max-width: 600px){
      -webkit-column-width: 147px;
      width: 147px;
    }
  }

}
