.baseButton {
  height: 34px;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fa3d7f;
  background: #ffe8f0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  :focus {
    outline: none;
  }
  svg {
    margin: 0px 4px;
    fill: #fa3d7f;
    path {
      fill: #fa3d7f;
    }
  }
}
