.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loadingIndicator {
    margin-right: 10px;
}

.LoaderWrapper {
  height: 100%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
