.modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: white;
  max-width: 600px;
  width: 100%;
  max-height: 90%;
  overflow-y: scroll;

  .title {
    display: flex;
    justify-content: center;
  }

  .clipLoader {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
  }

  .buttonContainer {
    margin-top: 12px;
    display: flex;

    justify-content: center;

    button {
      margin: 8px;
    }
  }
}
