.modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: white;
  max-width: 600px;
  width: 100%;

  align-items: center;

  .addButtonContainer {
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
    button {
      margin: 8px;
      color: #F0CE52;
      background-color: #FFF7DB

    }
  }

  .removeButtonContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    button {
      color: #F0CE52;
      background-color: #FFF7DB
    }
  }

  .gradeSelection {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
  }

  .buttonContainer {
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    display: flex;
    button {
      margin: 8px;
      color: #F0CE52;
      background-color: #FFF7DB
    }
  }
}



.formContainer {
  width: 100%;
}

.formItem {
  width: 100%;
}
