.modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: white;
  max-width: 600px;
  width: 100%;

  align-items: center;

  .buttonContainer {
    margin-top: 12px;
    display: flex;
    button {
      margin: 8px;
    }
  }
  .stepContainer {
    width: 100%;

    .titleBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .generalInformationContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .inputField {
      margin: 4px 8px 10px 8px;
    }
  }

  .downloadContainer {
    display: flex;
    flex-direction: row;
    min-height: 120px;
    justify-content: center;
    align-items: center;

    .downloadButton {
      margin: 16px;
      font-size: 15px;
      font-weight: normal;
      height: 40px;
      padding-right: 14px;
      min-width: 130px;
    }
  }
}

.description {
  color: #8e8e8e !important;
  margin-top: -16px !important;
}
