.modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: white;
  max-width: 600px;
  width: 100%;
  max-height: 90vh;
  overflow: visible;

  align-items: center;

  .search {
    margin-bottom: 16px;
  }

  .buttonContainer {
    margin-top: 12px;
    display: flex;
    button {
      margin: 8px;
    }
  }

  .expertSearch {
    width: 100%;
    margin-bottom: 2rem;
  }
}
