.modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: white;
  max-width: 600px;
  width: 100%;

  align-items: center;

  .buttonContainer {
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    display: flex;
    button {
      margin: 8px;
    }
  }
}

.formContainer {
  width: 100%;
}

.formItem {
  width: 100%;
}
