.formContent {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 10px;

  .title {
    margin-top: 0px;
    margin-left: 0px;
    grid-column: 1;
    grid-row: 1;
  }

  .categorySelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1;
    grid-row: 2;
  }

  .image {
    margin-right: 0;
    margin-left: auto;
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .input {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 3;

    .inputField {
      width: 100%;
      height: 200px;
      border-radius: 5px;
      border-color: rgb(244, 72, 109);
    }
  }

  .checkboxCell {
    grid-column: 1 / 3;
    grid-row: 4;

    .checkbox {
      color: rgb(244, 72, 109);
    }
  }

  .warning {
    margin-top: auto;
    margin-bottom: auto;
    color: red;
    grid-column: 1;
    grid-row: 5;
  }

  .buttonCell {
    margin-left: auto;
    margin-right: 0;
    grid-column: 2;
    grid-row: 5;

    .button {
      background-color: rgb(244, 72, 109);
      display: flex;
      float: right;
      color: white;

      &:hover {
        color: white;
      }
    }
  }
}


.baseContainer {
  max-width: 600px !important;
  width: 100%;
  min-height: 400px;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


/*  .mainButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media only screen and (max-width: 500px) {
      flex-direction: column;
    }
  }*/

/*.modal {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: white;
  max-width: 500px;
  align-items: center;


}*/

.buttonContainer {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;

  button {
    margin: 8px;
  }
}


