.formContent {
  min-height: 612px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content min-content auto min-content min-content;
  grid-gap: 10px;


  @media only screen and (max-width: 1365px) {
    min-height: auto;
  }

  @media only screen and (max-width: 600px){
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-top: 0px;
    margin-left: 0px;
    grid-column: 1;
    grid-row: 1;

    @media only screen and (max-width: 1560px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .categorySelect {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    grid-column: 1;
    grid-row: 2;

    @media only screen and (max-width: 1560px) {
      grid-column: 1 / 3;
    }

    .selectElement {
      width: auto;
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  .image {
    grid-column: 2;
    grid-row: 1 / 3;

    @media only screen and (min-width: 600px) and (max-width: 1560px){
      grid-row: 1;
    }

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    grid-column: 1 / 3;
    grid-row: 3;

    .inputField {
      width: 100%;
      min-height: 100%;
      border-radius: 5px;
      border: 1px solid rgb(244, 72, 109);
      resize: none;
      outline: none;
      padding: 10px;
    }
  }

  .checkboxCell {
    .checkbox {
      margin-top: 0px;
      margin-left: -2px;
      a {
        color: rgb(244, 72, 109);
      }
    }
  }

  .warning {
    margin-top: auto;
    margin-bottom: auto;
    color: red;
    grid-column: 1;
    grid-row: 5;
  }

  .buttonCell {
    margin-left: auto;
    margin-right: 0;
    grid-column: 2;
    grid-row: 5;
  }
}

.failedContent {
  padding: 20px;
}

.successContent {
  padding: 20px;
}

.button {
  background-color: rgb(244, 72, 109);
  display: flex;
  float: right;
  color: white;

  &:hover {
    color: white;
  }
}
