.baseContainer {
  display: flex;
  flex-direction: column;
  background: white;
  width: 100%;
  max-width: 400px;

  .highlight {
    height: 8px;
    background: #f4486d;
  }

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
