.baseContainer {
    max-width: 700px !important;
    width: 100%;
    margin-bottom: 20px;
}
.settingEditArea {
    width: 100%;
}
.settingEditAreaSelect {
    width: 100%;
    color: green;
}
.verifyBtn {
    float: right;
}