.buttonSend {
  background-color:rgb(244, 72, 109) ;
  display: flex;
  float: right;
  color: white;
  &:hover {
    color: white;
  }

  
  
}

.baseContainer {
    max-width: 600px !important;
    width: 100%;
    min-height: 400px;
  }
  
  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  
/*  .mainButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media only screen and (max-width: 500px) {
      flex-direction: column;
    }
  }*/

  .inputfield {
    width : 550px;
    height: 300px !important;
    border-radius: 5px;
    border-color: rgb(244, 72, 109);
}

.checkbox {
  color: rgb(244, 72, 109);
}
  
  /*.modal {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: white;
    max-width: 500px;
    align-items: center;
  
   
  }*/

  .buttonContainer {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    button {
      margin: 8px;
    }
  }

  
  