.pendingContainer {
  max-width: 400px !important;
  min-width: 400px !important;
  min-height: 160px;
}

.buttonContainer {
  margin: 16px 8px 8px 8px;
}

.titleContainer {
  display: flex;
  align-items: center;
}
