.container {
  display: flex;
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.04);
  width: 100%;
  margin: 8px;

  @media only screen and (max-width: 600px) {
    margin-top: 16px;
  }

  .cardContent {
    background: #ffffff;
    width: 100%;
    border-radius: 4px;
    padding: 8px 20px 20px;
  }
}

