.textbox {
  height: 35px;
  padding: 7px 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  transition: all .2s ease;
  line-height: 30px;
  margin-top: 5px;
  &:focus {
    outline: none;
  }
}

.textarea {
  height: 100px;
  padding: 7px 15px;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  transition: all .2s ease;
  line-height: 30px;
  margin-top: 5px;
  resize: none;
  &:focus {
    outline: none;
  }
}

.label {
  font-size: 16px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  line-height: 25px;
  margin-top: 15px;

}
