@import '../../theme.scss';

.overlayContainer {
  display: flex;
  flex-direction: column;
}
.navigationContainer {
  min-width: 300px;
  max-width: 300px;
  max-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

  background-color: $navigationBackground;

  .header {
    svg {
      margin-right: 8px;
      path {
        fill: $white;
      }
    }
    padding: 12px 8px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid #d8ddd9;
  }

  .navigationGroup {
    min-height: 500px;
    @media only screen and (max-height: 800px) {
      margin: 0px 24px 0px 24px;
    }

    margin: -100px 24px 0px 24px;

    .section {
      margin: 16px 0px 4px 0px;
      color: $white;
      font-size: 12px;
    }

    .socialMediaButtons {
      display: flex;
      margin: 16px;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .navigationContainer {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0px;
    z-index: 300;
    overflow: auto;
    left: 0;
    transition: transform 0.2s ease-in-out;
    transform: translate(-100%);

    &.menuOpen {
      transform: translate(0%);
      left: 0;
    }
  }
}
