@import '../../theme.scss';

.overlayContainer {
  display: flex;
  flex-direction: column;
}
.navigationContainer {
  min-width: 300px;
  max-width: 300px;
  height: 100vh;

  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;

  z-index: 1000;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: $navigationBackground;

  .header {
    min-height: 62px;
    max-height: 62px;
    svg {
      margin-right: 8px;
      path {
        fill: $white;
      }
    }
    padding: 12px 8px;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid #d8ddd9;
  }

  .navigationGroup {
    min-height: fit-content;
    @media only screen and (max-height: 800px) {
      margin: 0px 24px 0px 24px;
    }

    margin: -100px 24px 0px 24px;

    .section {
      margin: 16px 0px 8px 0px;
      color: $white;
      font-size: 12px;
    }

    .socialMediaButtons {
      display: flex;
      margin: 16px;
    }
  }
  .logoutContainer {
    min-height: 200px;
    min-height: fit-content;
  }
}

@media only screen and (max-width: 1200px) {
  .navigationContainer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    top: 0px;
    z-index: 1000;
    transition: transform 0.2s ease-in-out;
    transform: translate(-100%);

    &.menuOpen {
      transform: translate(0%);
      left: 0;
    }
  }
}
