.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 800;
  min-height: 62px;
  max-height: 62px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: white;
  align-items: center;
  max-width: 100%;
  border-bottom: 1px solid #d8ddd9;

  .avatar {
    cursor: pointer;
    margin-right: 8px;
  }

  .mobileNav {
    padding: 8px 16px;
    cursor: pointer;
  }
}

.logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .mobileNav {
    display: none;
  }
}
