@import '../../theme';

.welcome {
  display: flex;
  flex-direction: row;
  height: 62px;
  .icon {
    padding: 8px;
    svg {
      height: 100%
    }
  }

  .downIcon {
    align-self: center;
    margin-right: 8px;
    svg {
      height: 20px;
      width: 20px;
      fill: #828282;
    }
  }

  .nameDisplay {
    align-self: center;
    margin: 0px;
  }
}
