@import '../../theme';

.welcome {
  display: flex;
  flex-direction: row;
  height: 62px;

  .icon {
    padding: 8px;
    svg {
      height: 100%
    }
  }

  .nameDisplay {
    margin-right: 0px;
    align-self: center;
  }
}
