.container {
  background: white;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.04);
  max-width: 350px;
  min-width: 300px;
  flex-grow: 1;
  margin: 16px;
  height: fit-content;

  .content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      margin: 0px 8px;
    }

    .children {
      margin-bottom: 16px;
      min-height: 260px;
    }
    .button {
      margin-bottom: 16px;
    }
  }
}
