.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 800;
  min-height: 62px;
  max-height: 62px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: white;
  align-items: center;
  max-width: 100vw;
  border-bottom: 1px solid #d8ddd9;

  .mobileNav {
    padding: 8px 16px;
    cursor: pointer;
  }

  .leftHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (min-width: 1201px) {
  .mobileNav {
    display: none;
  }
}
