// basic
$black: #000000;
$gray1: #333333;
$gray2: #4f4f4f;
$gray3: #828282;

$white: #ffffff;

// Cards
$cardHighlightRed: #e88d98;
$cardHighlightYellow: #f2c47e;
$cardHighlightGreen: #9fe88d;
$cardHighlightBlue: #8dcce8;
$cardBackground: #ffffff;

// others
$legalText: #828282;
$logo: #b79210;

// navigation
$navigationActive: #1e2331;
$navigationBackground: #2b2c3b;
$navigationHover: #242736;
$navigationText: #ffffff;
$navigationTextSubtle: #6d7284;

$pageBackground: #f6f3d7;
$pageBackgroundDecoration: rgba(255, 210, 46, 0.6);

// button
$destructiveButton: #f51212;
$buttonBackgroundActive: #dadada;

// icon
$iconButton_backgroundColor: #fafbfd;
$iconButton_backgroundColor_active: #dadada;
