.container {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  height: 40px;
  font-size: 16px;
  font-weight: 300;
  width: 120px;
  margin: 8px;
}

.button2 {
  height: 40px;
  font-size: 14px;
  font-weight: 300;
  width: 200px;
  margin-top: -4px;
}
