.formContainer {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainerGroup {
  display: flex;
  margin: 0;
}

.formItem {
  display: flex;
  flex-grow: 1;
  width: 100% !important;
  margin: 10px 0px;
  align-items: center;
  justify-content: center;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.button {
  height: 40px;
  font-size: 16px;
  font-weight: 300;
  width: 120px;
  margin: 16px;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin: 32px;
    height: 120px;
    width: 120px;
  }
}

.helpText {
  text-align: center;
  max-width: 400px;
  color: #6c6c6c !important;
  margin: 16px 4px !important;
  .link {
    color: #4e6ae6 !important;
  }
}

.listContainer {
  width: 100%;
}

.footerContainer {
  margin-right: -24px;
  margin-left: -24px;

  .footerForm {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.forms {
  display: flex;
  flex-direction: column;

  margin-top: -16px;
  padding: 0px 16px;
  width: 100%;
}
.selectContainer {
  width: 94%;

  .courseSelect {
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
}
